@media  screen and (max-width: 1200px) {
    header {
        height: 85vh;
    }
    .row {
        margin: 0 3rem;
    }
    .hero-text {
        width: 100%;
    }
   
}
@media  screen and (max-width: 1024px) {
    
    header {
        height: 60vh;
    }
    .nav-manu{
        margin-right: 8rem;
    }
    
    html {
        font-size: 58.5%;
    }
    .hero-container{
        margin-top: 0rem;
    }
    .hero-container h1{
        font-size: 4rem;
    }
    .img-box img{
        margin-top: 3rem;
    }
    .clints-img li{
        
        margin: 1rem 1rem;
    }
    .box-2-items h3{
        font-size: 2.5rem;
        font-weight: 600;
    }
    #contact form {
        width: 100%;
        margin-left: 0;
    }
}
@media  screen and (max-width: 980px) {
    .nav-manu{
       display: none;
    }
    .mobile-menu span{
        display: block;
    }
    .sticky .mobile-menu span {
        margin-top: 1rem;
    }
   
    html {
        font-size: 60.5%;
    }
    .img-box img{
        margin-top: 5rem;
    }
}
@media  screen and (max-width: 768px) {
    header {
        height: 70vh;
    }
    html {
        font-size: 58.5%;
    }
    .hero-container .img-box{
      margin-top: 5rem;
      margin-right: 1rem;
    }
    .img-box img{
        width: 100%;
    }
    #box-container .box{
        margin-left: 2rem;
    }
    .send- button{
        margin-left: 30%;
    }
    .social-list ul li{
        margin: 0rem 1rem;
    }
  
    .p-s {
        width: 100%;
        margin-left: 0;
    }
    h1 {
        font-size: 3.4rem;
        font-weight: 800;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 2.1rem;
    }
}
@media screen and (max-width: 480px) {
    header {
        height: 85vh;
    }
    .span_1_of_4 {
        width: 100%;
    }
    .hero-container .img-box{
        display: none;
    }
    .hero-container .text-box{
        text-align: center;
    }
    #box-container .box,
    #testimonial .test-box {
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
    #box-2 .box-btn a {
        margin-top: 6rem;
    }
    .choose-items .p-fix {
        text-align: center;
    }
    .choose-items {
        margin-bottom: 3rem;
        text-align: center;
    }
    .choose-img img{
        display: none;
    }
    .send- input{
        width: 90%;
    }
    .send- button {
        margin-left: 20%;
        font-size: 1.5rem;
    }
    .clint-box img {
        margin: 0rem 4rem;
        width: 80%;
    }
    .contact-container .span_1_of_2{
        margin-left: 0rem;
    }
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2.3rem;
    }
    h3 {
        font-size: 2.1rem;
    }
   
}
@media screen and (max-width: 414px){
    .send- button {
        margin-left: 19%;
        font-size: 1.2rem;
    }
    .contact-container .span_1_of_2{
        margin-left: 0rem;
    }
}
@media screen and (max-width: 375px){
    .send- button {
    margin-left: 17%;
    font-size: 1rem;
    }
    .contact-container .span_1_of_2{
        margin-left: 0rem;
    }
}
